.mouseglow {
  position: fixed;
  background-size: cover;
  translate: -50px -50px;
  z-index: 5;
  background: radial-gradient(white 0%, #0000 60%);
  opacity: 0.4;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .mouseglow {
    display: none;
  }
}
